<!DOCTYPE html>
<html>
  [%- PROCESS config.tt -%]
  [%- title = "Graal Documentation"
  desc="Documentation of Graal library"
  keywords="Graal, documentation, javadoc, getting started"
  -%]  
  [%- INCLUDE header.tt -%]
  
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">[% title %]</h1>
        </header>
        [% INCLUDE nav.tt %]
    </div>

    [% INCLUDE documentation_sub_menu.tt %]

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <h2>Overview</h2>
        <p>
          Graal is dedicated to the <strong>ontology-mediated query
          answering</strong>. We consider a <strong>knowledge
          base</strong> composed of an <strong>ontology</strong>
          and a set of <strong>facts</strong>. The ontology is
          described in the framework of <strong><a href="http://graphik-team.github.io/graal/papers/framework_en.pdf">existential
          rules</a></strong>, aka <strong><a href="https://www.cs.ox.ac.uk/files/3608/RR-10-21.pdf">Datalog+</a></strong>.
          <img src="images/context.svg" alt="" width="50%" />
        </p>

        <p>Graal is composed of eight modules:
          <ul>
            <li>The <strong>Api</strong> module provides all interfaces.</li>
            <li>The <strong>Core</strong> module implements
            main classes such as Atom, AtomSet, Rule, ConjunctiveQuery…</li>
            <li>The <strong>IO</strong> module provides reader from or
            writer to textual formats.</li>
            <li>The <strong>Store</strong> module provides access to
            storage systems.</li>
            <li>The <strong>Homomorphism</strong> module implements
            algorithms to query data. </li>
            <li>The <strong>Forward Chaining</strong> module
            implements chase algorithms.</li>
            <li>The <strong>Backward Chaining</strong> module
            implements query rewriting algorithms.</li>
            <li>The <strong>Rule Set Analyser</strong> module
            provides tools to analyse decidability properties of a
            rule set.</li>
          </ul>
          <img src="images/graal-compact.svg" alt="" width="80%"/>
        </p>
            
        <h2>Associated Reports</h2>

        <ul>
          <li><a href="./papers/datalog+_v2.0_en.pdf">DLGP Version 2 specifications</a></li>
          <li><a href="./papers/OWL2-ER-TechR.pdf">From OWL 2 to DLGP, the ER profile</a></li>
        </ul>


        <h2>Other links</h2>
        <ul>
          <li><a href="http://www.lirmm.fr/kiabora/">Online Kiabora and associated documentation</a></li>
        </ul>
        
      </section>
    </div>

    [% INCLUDE footer.tt %]

  </body>
</html>
