<!DOCTYPE html>
<html>
  [%- PROCESS config.tt -%]
  [%- title = "Graal Downloads"
  desc="Download page of Graal"
  keywords="download, graal, modules, jar" -%]  
  [%- INCLUDE header.tt -%]
  
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">[% title %]</h1>
        </header>
        [%- INCLUDE nav.tt -%]
    </div>

    [%- INCLUDE downloads_sub_menu.tt -%]

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        
        <h2>Graal Modules</h2>

        <ul>
          <li><a href="[% config.graalVersion _ '/graal-' _
          config.graalVersion _ '-jar-with-dependencies.jar' %]">All Graal modules and dependencies in one jar</a></li>

          <li><a href="./modules/graal-api">graal-api</a></li>
          <li><a href="./modules/graal-util">graal-util</a></li>
          <li><a href="./modules/graal-core">graal-core</a></li>
          <li><a href="./modules/graal-backward-chaining">graal-backward-chaining</a></li>
          <li><a href="./modules/graal-forward-chaining">graal-forward-chaining</a></li>
          <li><a href="./modules/graal-homomorphism">graal-homomorphism</a></li>
          <li><a href="./modules/graal-io-dlgp">graal-io-dlgp</a></li>
          <li><a href="./modules/graal-io-owl">graal-io-owl</a></li>
          <li><a href="./modules/graal-io-ruleml">graal-io-ruleml</a></li>
          <li><a href="./modules/graal-io-sparql">graal-io-sparql</a></li>
          <li><a href="./modules/graal-store-rdbms">graal-store-rdbms</a></li>
        </ul>

      </section>
    </div>

    [%- INCLUDE footer.tt -%]

  </body>
</html>
