        <div id="sub_menu" class="outer">
          <nav class="inner">
            <a href="[% config.basedir %]downloads">Graal</a>
            <a href="[% config.basedir %]pure">Pure</a>
            <a href="[% config.basedir %]owl2dlgp">OWL2DLGP</a>
            <a href="[% config.basedir %]dlgp2ruleml">DLGP2RuleML</a>
            <a href="[% config.basedir %]kiabora">Kiabora</a>
          </nav>
        </div>        