<!DOCTYPE html>
<html>
  [%- PROCESS config.tt -%]
  [%- title = "Getting Started using Maven" -%]  
  [%- INCLUDE header.tt -%]
  
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">[% title %]</h1>
          [%- INCLUDE nav.tt -%]
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        This example shows how to build and run a simple project based
        on Graal using the Maven build tool. If you prefer, you can
        build and run this example <a href="./getting-started">without any build tool</a>.
        <h2>Requirements</h2>

        <ul>
          <li>Graal requires Java 7 or newer.</li>
          <li><a href="https://maven.apache.org/download.cgi">Download</a>
        and <a href="https://maven.apache.org/install.html">install</a>
        Maven.</li>
          <li>Download the
          project <a href="./dl/examples/graal-getting-started.zip">graal-getting-started.zip</a> and
          extract it where you want.</li>
        </ul>

        <h2>Build</h2>

          <p>Open a terminal and go to the graal-getting-started
          folder. Then, execute the command below:</p>
          
          <code>mvn package</code>

          <h2>Run the example</h2>

         <p>Execute the project:</p>
         <code>java -jar target/getting-started-1.0-SNAPSHOT.jar src/main/resources/animals.dlp</code>
         

        <h2>What does this example do?</h2>
        <ol>
          <li>Create a relational database store with HSQLDB (An
            InMemory Java database system),</li>
          <li>Parse Animals.dlp (A <em>Dlgp</em> file with rules and
            facts),</li>
          <li>Print the set of rules in <em>Dlgp</em>,</li>
          <li>Print the set of facts in <em>Dlgp</em>,</li>
          <li>Parse a query from the code and print it,</li>
          <li>Query the store without reasoning,</li>
          <li>Backward chaining,</li>
          <li>Forward chaining.</li>
        </ol>

        <h2>To continue</h2>

        <p>More examples are available <a href="https://github.com/graphik-team/graal/tree/master/graal-examples/src/main/java/fr/lirmm/graphik/graal/examples">here</a> and will soon be
        discuss here.</p>
      </section>
    </div>

[% INCLUDE footer.tt %]
  </body>
</html>
