<!DOCTYPE html>
<html>
  [%- PROCESS config.tt -%]
  [%- title = "Kiabora - Example" -%]  
  [%- INCLUDE header.tt -%]
  
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
          <h1 id="project_title">[% title %]</h1>
      </header>
      [%- INCLUDE nav.tt -%]
    </div>

    [%- INCLUDE downloads_sub_menu.tt -%]

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      	<section id="main_content" class="inner">

    	<p>
		A little example of Kiabora's capabilities.
		</p>

        <h2>Input file:</h2>
			<pre>p(X,Z) :- p(X,Y), p(Y,Z).
p(Y,X), q(X,Y,X) :- p(X,Y).
q(X,Z,T) :- r(X,Y).
r(Z,T) :- q(X,Y,Z).
s(Z,Z,Z) :- p(X,X), r(Y,U), s(T,Y,X).
s(Z,X,Y) :- s(X,X,X), s(Y,Y,Y).</pre>

			<h2>Output (all options turned on): </h2>
			<pre>
====== RULE SET ======
[R0] p(X, Z) :- p(X, Y), p(Y, Z).
[R1] p(Y, X), q(X, Y, X) :- p(X, Y).
[R2] q(X, Z, T) :- r(X, Y).
[R3] r(Z, T) :- q(X, Y, Z).
[R4] s(Z, Z, Z) :- p(X, X), r(Y, U), s(T, Y, X).
[R5] s(Z, X, Y) :- s(X, X, X), s(Y, Y, Y).

======== GRD =========
R0--{R::Y->D::Z,R::X->D::X}{R::Y->D::X,R::Z->D::Z}-->R0
R0--{R::Y->D::Z,R::X->D::X}-->R1
R0--{R::X->D::Z,D::X->D::Z}-->R4
R1--{R::Y->D::X,R::X->D::Y}{R::Y->D::Y,R::Z->D::X}-->R0
R1--{R::Y->D::X,R::X->D::Y}-->R1
R1--{D::Y->D::X,R::X->D::X}-->R4
R1--{R::Y->D::Y,R::Z->D::X,R::X->D::X}-->R3
R2--{R::Y->D::Z,R::Z->D::T,R::X->D::X}-->R3
R3--{R::Y->D::T,R::X->D::Z}-->R2
R3--{R::Y->D::Z,R::U->D::T}-->R4
R4--{R::X->D::Z}{R::Y->D::Z}-->R5
R5--{R::T->D::Z,R::Y->D::X,R::X->D::Y}-->R4


======== SCC =========
C0 = {R1, R0}
C1 = {R2, R3}
C2 = {R4, R5}


===== SCC GRAPH ======
C0 ---> C1, C2
C1 ---> C2
C2


== RULE PROPERTIES ===
+---------------------------------------------------------------------------------------------------------------+
|  -   |  X   |  -   |  -   |  X   |  -   |  -   |  ?   |  X   |  -   |  X   |  -   |  X   |  X   |  X   |  X   |  R0  
|  -   |  X   |  -   |  X   |  X   |  X   |  -   |  X   |  X   |  X   |  X   |  X   |  X   |  X   |  X   |  X   |  R1  
|  X   |  X   |  -   |  -   |  X   |  X   |  X   |  X   |  X   |  X   |  -   |  X   |  X   |  X   |  X   |  X   |  R2  
|  X   |  X   |  -   |  -   |  X   |  X   |  X   |  X   |  X   |  X   |  -   |  X   |  X   |  X   |  X   |  X   |  R3  
|  X   |  X   |  X   |  X   |  X   |  X   |  -   |  X   |  X   |  -   |  -   |  -   |  X   |  X   |  X   |  X   |  R4  
|  X   |  X   |  -   |  X   |  X   |  -   |  -   |  X   |  X   |  -   |  -   |  X   |  -   |  X   |  X   |  X   |  R5  
+---------------------------------------------------------------------------------------------------------------+
| aGRD | bts  | disc |  dr  | fes  |  fg  | fr1  | fus  | gbts | lin  |  rr  |  s   |  wa  | wfg  |  wg  |  ws  |
+---------------------------------------------------------------------------------------------------------------+

===== PROPERTIES =====
+---------------------------------------------------------------------------------------------------------------+
|  -   |  ?   |  -   |  -   |  ?   |  -   |  -   |  ?   |  ?   |  -   |  -   |  -   |  -   |  -   |  -   |  -   |
+---------------------------------------------------------------------------------------------------------------+
| aGRD | bts  | disc |  dr  | fes  |  fg  | fr1  | fus  | gbts | lin  |  rr  |  s   |  wa  | wfg  |  wg  |  ws  |
+---------------------------------------------------------------------------------------------------------------+

=== SCC PROPERTIES ===
+---------------------------------------------------------------------------------------------------------------+
|  -   |  X   |  -   |  -   |  X   |  -   |  -   |  ?   |  X   |  -   |  X   |  -   |  X   |  X   |  X   |  X   |  C0  
|  -   |  X   |  -   |  -   |  ?   |  X   |  X   |  X   |  X   |  X   |  -   |  X   |  -   |  X   |  X   |  X   |  C1  
|  -   |  ?   |  -   |  X   |  ?   |  -   |  -   |  X   |  ?   |  -   |  -   |  -   |  -   |  -   |  -   |  -   |  C2  
+---------------------------------------------------------------------------------------------------------------+
| aGRD | bts  | disc |  dr  | fes  |  fg  | fr1  | fus  | gbts | lin  |  rr  |  s   |  wa  | wfg  |  wg  |  ws  |
+---------------------------------------------------------------------------------------------------------------+

=== COMBINE (FES) ====
C0: FES
C1: FUS
C2: FUS


=== COMBINE (FUS) ====
C0: FES
C1: FUS
C2: FUS


			</pre>
		</section>
    </div>

    [%- INCLUDE footer.tt -%]

  </body>
</html>

