
          <nav>
            <a href="[% config.basedir %]">Home</a>
            <a href="[% config.basedir %]documentation">Documentation</a>
            <a href="[% config.basedir %]publications">Publications</a>
            <a href="[% config.basedir %]experiments">Experiments</a>
            <a href="[% config.basedir %]downloads">Downloads</a>
            <a href="https://github.com/graphik-team/graal/">Sources</a>
          </nav>
