<!DOCTYPE html>
<html>
  [%- PROCESS config.tt -%]
  [%- title = "OWL2 to Dlgp"
  desc="Translator from OWL2 to Dlgp"
  keywords="translator, owl2, dlgp, existential rules, ER profile,
  semantic web, description logics" -%]  
  [%- INCLUDE header.tt -%]

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">[% title %]</h1>
        </header>
        [%- INCLUDE nav.tt -%]
    </div>

    [%- INCLUDE downloads_sub_menu.tt -%]

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        The owl2dlgp program translates
        to <a href="http://graphik-team.github.io/graal/papers/datalog+_v2.0_en.pdf"><em>dlgp</em></a>
        any <a href="http://www.w3.org/TR/owl2-overview/">OWL2</a>
        ontology that can be expressed in the existential rule
        framework. In particular, it translates the three tractable
        profiles of OWL2 (EL, QL, RL). This tool uses
        the <a href="http://owlapi.sourceforge.net/">OWL API</a> to
        parse OWL 2 ontologies expressed in OWL/XML, OWL
        Functional Syntax or Turtle.

        <h2>Getting started</h2>
        <ul>
          <li>Download <a href="./dl/owl2dlgp-1.0.beta4.jar">owl2dlgp</a></li>
          <li>Download <a href="./dl/example-owl.ttl">example-owl.ttl</a></li>
        </ul>
        
        
        <ul>
          <li>
            Translate from an OWL 2 file to a <em>dlgp</em> file: <br/>
            <code>java -jar owl2dlgp-*.jar -f ./example-owl.ttl -o ./example.dlp</code>
          </li>

          <li>
            Translate from the standard input (OWL 2) to the standard output (dlgp): <br/>
            <code>java -jar owl2dlgp-*.jar < ./example-owl.ttl > ./example.dlp</code>
          </li>
        </ul>
        
      </section>
    </div>

    [%- INCLUDE footer.tt -%]

  </body>
</html>
