
/*******************************************************************************
Specific Styles
*******************************************************************************/

body {
}

body {
  box-sizing: border-box;
  color:#222;
  background-color: #FAFAFA;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#logo-container {
    padding: 0px 20px;
}

#page-menu, #page-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

footer, footer a {
    color: #F2F2F2;
}

footer a {
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color: #36648B;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
  margin: 10px 0 0 0;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 5px 0 15px 0;
}

a:hover, a:focus {text-decoration: underline;}

em {
  font-style: italic;
}

strong {
    font-weight: bold;
    color: #36648B;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 5px #ebebeb;
}

#page-content > p > img, #main_content > img {
    display: block; 
    margin: 10px auto 20px auto;
}

#page-content > p > img.icon {
    display: inline;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    border: medium none;
}


#rc > p > img.right {
    margin: 5px;
    float: right;
    width: 550px;
}

pre, code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
}

code:not(.hljs) {
  display: block;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  overflow: auto;
  padding: 7px;

  color: #222;
  background-color: #fff;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 15px
}

#page-content > ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

#page-content > ul li {
    list-style-type: disc;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
    font-weight: bold;
    color: #36648B;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

/*******************************************************************************
 *******************************************************************************/

.todo {
    color: orange;
}

.toRemove {
    color: red;
}

/*******************************************************************************
 *******************************************************************************/
ul {
    padding-left: 20px !important;
}

ul.collection, ul.collection ul {
    padding-left: 0px !important;
}

ul.collection ul a {
    padding-left: 40px !important;
}

li li {
    list-style-type: lower-alpha;
}


/*******************************************************************************
 *******************************************************************************/

.row {
    margin: 0;
}

.collapsible-body {
    display: block;
    padding: 0;
}

form table, form td, form tr {
    border: none;
}
/*******************************************************************************
Sticky footer
*******************************************************************************/

/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}*/

/*main {
    flex: 1 0 auto;
}*/

/*******************************************************************************
Fix
*******************************************************************************/

#sidenav-overlay {
    z-index: 900;
}