

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #373737;
  margin: 0px auto 20px auto;
  text-align: center;
}

tr {
  border-top: 1px solid #373737;
}


td {
  line-height: 1em;
  padding: 10px;
  border-left: 1px solid #373737;
  border-right: 1px solid #373737;
}



td.slim {
    width: 80px;
}

/* noborder */

tr.noborder {
    border: none;
}

tr.noborder > td {
    padding-top: 0px;
}
